#conteudoModal{
  margin-top: 10rem;
  width:120%;
  background:rgb(238, 231, 231);
}

.botao{
 padding-left: 2rem;
 padding-right: 2rem;
}

.checkin{
  margin-left: 47%;
  margin-bottom: 2rem;
}